<div class="cmax_container ">
        <div class="answerwidth terams" >
            {% for block in section.blocks %}
                <div class="ansterm">
                    <ul>
                            <li>{{block.settings.ansteram}}</li>
                        </ul>
                </div>
            {% endfor %}

        </div>
        <div class="alignbtn">
          <div class=" appbtnss">
            <button type="submit" class="appbtnspacess">
              {{ 'templates.contact.form.send' | t }}apply now
              <svg xmlns="http://www.w3.org/2000/svg" width="34" height="9" viewBox="0 0 34 9" fill="none">
                <path d="M1.25391 4.5L32.9002 4.5M32.9002 4.5L26.4537 1M32.9002 4.5L26.4537 8" stroke="#184B44" stroke-linecap="round"/>
              </svg>
            </button>
        </div>
      </div>
        
</div>

{% schema %}
  {
    "name": "answertearms",
    "settings": [
   
    ],
    "blocks": [
  {
    "type": "condition",
    "name": "condition",
    "settings": [
     
       {
    "type": "text",
    "id": "ansteram",
    "label": "content"
      }
    ]
  }
    ],
    "presets": [
    {
    "name": "answertearms"
    }
    ]
  }
{% endschema %}
<style>
    .ansterm ul li {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 30px;
        color: #1E1E1E;
    }
    .ansterm {
  padding-left: 2%;
    padding-right: 6%;
}
.ansterm ul {
    margin: 4px 0;
}

.answerwidth {
    width: 85%;
      margin: 0 auto;
}
 .answerwidth.terams{
    width:90%;
    margin-top: 15px;
 }
a.appbtnspacess {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #1E1E1E;
    text-decoration: none;
    display: flex;
        padding: 15px 20px;
    align-items: center;
}
button.appbtnspacess {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #1E1E1E;
    text-decoration: none;
    display: flex;
        padding: 15px 20px;
    align-items: center;
        background: transparent;
        border: none;
}
.appbtnss {
    border: 2px solid #184B44;
    border-radius: 25.5px;
}
.alignbtn{
        display: flex;
    justify-content: center;
  padding: 3% 0 5% 0;
}
.appbtnspacess svg{
   
    margin-left: 70px;
}
@media only screen and (max-width: 420px) {
    .answerwidth {
    width: 100%;
    }
    .ansterm{
        padding-left: 0%;
        padding-right: 0%;
    }
     .answerwidth.terams {
    width: 100%;
    }
}
</style>