<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<div>
  <h2 class="faqhead">{{section.settings.mfaqhead}}</h2>
</div>
<div class="accordion-container">

        {% for block in section.blocks %}
  <div class="set">
    <a href="{{block.settings.faqid}}">{{block.settings.faqbtn}}
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="22" viewBox="0 0 25 22" fill="none" class="clsicon pluscls">
<g clip-path="url(#clip0_1086_4962)">
<path d="M0.806641 10.6445H24.1937" stroke="#CBCAB5" stroke-width="2" stroke-linecap="round" class="plusss"/>
<path d="M12.0977 21.2877V0.707031" stroke="#CBCAB5" stroke-width="2" stroke-linecap="round"/>
</g><defs><clipPath id="clip0_1086_4962"><rect width="25" height="22" fill="white"/></clipPath></defs></svg>
   
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="3" viewBox="0 0 25 3" fill="none" class="clsicon minuscls displaynone">
<path d="M0.806641 1.64453L24.1937 1.64453" stroke="#CBCAB5" stroke-width="2" stroke-linecap="round"/>
</svg>
    </a>
    <div class="content">
      <p>{{block.settings.faqdes}}</p>
    </div>
  </div>
  
   {% endfor %}
</div>
{% schema %} 
{
  "name": "faq",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "mfaqhead",
      "label": "Heading"
    }
  ],
   "blocks": [
  {
    "type": "collection",
    "name": "Collection",
    "settings": [
     
       {
    "type": "text",
    "id": "faqdes",
    "label": "content"
      },
       {
    "type": "url",
    "id": "faqid",
    "label": "Link Text"
      },
       {
    "type": "text",
    "id": "faqbtn",
    "label": "Button"
      }
    ]
  }
    ],
 "presets": [
    {
      "name": "faq"
    }
  ]
}
{% endschema %}
<style>
.accordion-container{
  position: relative;
 width:60%;
  height: auto;
  margin: 10px auto;
}
.accordion-container > h2{
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.set{
  position: relative;
  width: 100%;
  height: auto;
 background: #F5F8F1;
border-radius: 24px;
margin: 3%;
}

.set > a{
  display: block;
     padding: 30px 30px;
  text-decoration: none;
  transition:all 0.2s linear;
  font-family: 'Josefin Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
color: #1E1E1E;
    padding: 5% 4%;
    

}
.set > a i {
    float: right;
    margin-top: 2px;
    
}
.set > a.active{
  background-color:#F5F8F1;

      display: flex;
    align-items: center;
    justify-content: space-between;
}
.content{
  background-color: #fff;
  display:none;
  padding:0 5%;
}
.content p{
  padding: 10px 15px;
  margin: 0;
 font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #1E1E1E;
}

</style>
<script>
$(document).ready(function() {
   
  $(".set > a").on("click", function(e) {
     e.preventDefault();
    if ($(this).hasClass("active")) {
      console.log('in active');
      $(this).removeClass("active");
      $(this)  .siblings(".content") .slideUp(200);
      $(this).closest('.set').find('.clsicon.pluscls').removeClass("displaynone");
      $(this).closest('.set').find('.clsicon.minuscls').addClass("displaynone");
    } else {
         console.log('not in active');
      $(".set > a .clsicon.minuscls")
        .addClass("displaynone");
      $(".set > a .clsicon.pluscls")
        .removeClass("displaynone");
       $(this).closest('.set').find('.clsicon.minuscls').removeClass("displaynone");
      $(this).closest('.set').find('.clsicon.pluscls').addClass("displaynone");
      $(".set > a").removeClass("active");
      $(this).addClass("active");
      $(".content").slideUp(200);
      $(this)
        .siblings(".content")
        .slideDown(200);
    }
  });
});

</script>