<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <div class="blogmax_container">
        <div class="sliderhead">
            <h2 class="slidertexthead">{{section.settings.slidertext}}</h2>
        </div>
        <div class="podcastslider">
            {% for block in section.blocks %}
                <div class="postcastdetail">
                    <div class="podcastimg">
                        <img src="{{ block.settings.slideimg|img_url: '800x' }}">
                    </div>
                    <div>
                        <h2 class="casthead">{{block.settings.castheadd}}</h2>
                        <h3 class="castdes">{{block.settings.castdess}}</h3>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>

{% schema %}
  {
    "name": "podcast_slider",
    "class":"podcast_slider",
    "settings": [
       {
    "type": "text",
    "id": "slidertext",
    "label": "Heading"
       }

    ],
    "blocks": [
  {
    "type": "collection",
    "name": "Collection",
    "settings": [
         {
    "type": "text",
    "id": "castheadd",
    "label": "Heading"
      },
          {
    "type": "text",
    "id": "castdess",
    "label": "Description"
      },

       {
    "type": "image_picker",
    "id": "slideimg",
    "label": "Image"
      }
    ]
  }
    ],
    "presets": [
    {
    "name": "podcast_slider"
    }
    ]
  }
{% endschema %}


<script>
  
    $('.podcastslider').slick({
       speed: 500,
        autoplaySpeed: 2000,
      arrows: true,
       dots: false,
    infinite: false,
    slidesToShow: 3,
    slidesToScroll: 1,
       autoplay: true,
        prevArrow:"<button type='button' class='drag coacharrow slick-prev pull-left'><svg xmlns='http://www.w3.org/2000/svg' width='19' height='46' viewBox='0 0 19 46' fill='none'><path d='M17.5 1L2 23L17.5 45' stroke='#184B44' stroke-width='2' stroke-linecap='round'/></svg></button>",
        nextArrow:"<button type='button' class='drag coacharrow2  slick-next pull-right'><svg xmlns='http://www.w3.org/2000/svg' width='18' height='46' viewBox='0 0 18 46' fill='none'><path d='M1 1L16.5 23L1 45' stroke='#184B44' stroke-width='2' stroke-linecap='round'/></svg></button>",
       responsive: [
    
    {
      breakpoint: 991,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
         {
      breakpoint: 520,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
   
  ]
  });
</script>