<div class="blogaboucontainer">
    <div class="reccommwidth">
       
            <div class="reccomdedback" style="background-image:url('{{section.settings.reccombgimg  | img_url: 'master'}}'); ">
               <div class="rpadding">
                     <div class="rectexthead">
                    <h2> {{section.settings.reccomhead}}</h2>
                    </div>
                    <div class="reccomflexbtn">
                    {% for block in section.blocks %}
                            <div class="recconbor">
                                <a class="review" href="{{block.settings.reccomurl}}">{{block.settings.reccomtext}}</a>
                            </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        
    </div>
</div>
{% schema %}
{
"name": "reccombackimg",

    "settings": [
    {
        "type": "text",
        "id": "reccomhead",
        "label": "Heading"
    },  
        {
        "type": "image_picker",
        "id": "reccombgimg",
        "label": "Image"
        }
            
    ],
      "blocks": [
  {
    "type": "collection",
    "name": "Collection",
    "limit":2,
    "settings": [
           {
        "type": "url",
        "id": "reccomurl",
        "label": "Link Text"
        },
        {
        "type": "text",
        "id": "reccomtext",
        "label": "Button"
        }
    ]
  }

],
    "presets" : [
    {
    "name" : "reccombackimg"

    }
    ]
}
{% endschema %}